body {
    font-family: sans-serif;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

#timer_text {
    font-size: 128px;
    font-family: 'Poiret One', cursive;
}

#status {
    font-size: 48px;
    font-family: 'Parisienne', cursive;
}
